.sidebar {
  flex: 1;
  background-color: #FF9901;
  position: relative;
  border-right: 0px solid rgb(0, 0, 0);

}


.userChat {
  padding: 10px;
  display: flex;

  align-items: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.chats {
  height: calc(100% - 116px);
  overflow: scroll;
}

.chats::-webkit-scrollbar {
  width: 6px;
}

.chats::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

.userChat:hover {
  background-color: rgba(20, 3, 3, 0.1);
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.2), -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}

.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userChatInfo span {
  font-size: 1.2rem;
  font-weight: 500;

}

.userChatInfo p {
  font-size: 0.9rem;
  color: rgb(0, 0, 0, 0.5);
}

.search {
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

.searchForm {
  padding: 10px;
}

.searchForm input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  outline: none;
}

.searchForm input::placeholder {
  color: rgb(0, 0, 0);
}

.chat {
  flex: 2;

}

.chatInfo {
  height: 50px;
  background-color: #ff9901a8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: black;

}

.input {
  height: 50px;
  background-color: #ff990141;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  background-color: transparent;
  font-size: 18px;
}

.input::placeholder {
  color: #ff990141;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send button {
  border: none;
  padding: 10px 30px;
  color: white;
  background-color: #FF9901;
  cursor: pointer;
}

.messages {
  background-color: #ff990141;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: #FF9901;
  color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.messageContent img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContentOwner {
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-left: 100px;
  

}
.scrollarea {
  min-height: 500px;
}

.messageContentOwner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
}

.messageContentOwner p {
  background-color: #1c8d54fd;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
  border-radius: 10px 0px 10px 10px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #FF9901;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #000000;
}

.logo {
  font-weight: bold;

}

.user {
  display: flex;
  gap: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user img {
  background-color: #FF9901;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {}