@media screen and (max-width: 899px) {
    #imglogo {
        display: none;
    }

    #theader {
        display: none;
    }

    .lhd-container {
        width: 20px;
    }

}
@media screen and (min-width: 1024px) {
   #prueba{
         display: none;
   }

}
    




.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 70px;
    background-color: #FF9901;
    flex: 1;
}

#theader {
    cursor: pointer;
}

.lhd-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 220px;
}

.lhd-container h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 300px;
    font-size: 2rem;
    color: #000;
    white-space: nowrap;
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

#formsearch {
    width: 70%;
    margin-right: 30%;
    margin-left: 6%;
    margin-bottom: 50px;
}

#sh-icon {
    position: absolute;
    padding-top: 0.5%;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

.other-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foo-container {
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}