#labprofile{
    font-family: 'Inter', sans-serif;
    letter-spacing: 6px;
    font-size: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.profile-main{
    box-shadow: 20px 0 5px -5px rgba(0, 0, 0, 0.2), -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}