@media screen and (max-width: 768px) {
    .profile-top{
        display: flex; 
        flex-direction: column;
        gap: 3rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.profile-top{
    display: flex; 
    gap: 3rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.profile-under{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2%; 
    margin-left: 5%;
    margin-right: 5%
}

#labprofile{
    font-family: 'Inter', sans-serif;
    letter-spacing: 6px;
    font-size: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.profile-main{
    box-shadow: 20px 0 5px -5px rgba(0, 0, 0, 0.2), -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}