@media screen and (max-width: 600px) {
    .cardcat-containter{
        padding-left: 15%;
    }
}
@media screen and (max-width: 460px) {
    .cardcat-containter{
        padding-left: 10%;
    }
}
@media screen and (max-width: 460px) {
    .cardcat-containter{
        padding-left: 3%;
    }
}
    
.catview-container{
    margin-right: 5%;
}

.box {
    border: 3px solid black;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}


.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10px;
}

.title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}