.main-container {
    display: flex;
    width: 100%,
}

.image-container {
    flex-wrap: wrap;
}

img {
    width: auto;
    height: max-content;
}

.image-container img {
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
#email{
    background-image: url(../../assets/img/User.png);
    background-position: 10px ;
    padding-left: 60px;
    background-size:auto;
    background-repeat: no-repeat;
}
#password{
    background-image: url(../../assets/img/Keyhole.png);
    background-position: 10px ;
    padding-left: 60px;
    background-size:auto;
    background-repeat: no-repeat;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submit-button-container button {
    width: 375px;
    height: 45px;
    background: #FF9901;
    border: none;
    color: white; 
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    outline: none;
    letter-spacing: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button-container button:hover {
    opacity: 0.90;
}

.label-error {
    color: #721c24;
    font-size: 12px;
    border: 1.5px solid transparent;
    background-color: #eac4c7;
    border-color: #f5c6cb;
    ;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-error-login {
    color: #721c24;
    font-size: 12px;
    border: 1.5px solid transparent;
    background-color: #eac4c7;
    border-color: #f5c6cb;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 20%;
}

.signup-container {
    display: flex;
    gap: 30px;
    
}

.singupl {
    color: #ff9900;
    text-decoration: inherit;

}

.inputstyle{
    flex-grow: 1;
    width: 100%;
    height: 45px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline-color: #D9D9D9;
    padding-left: 20px;
    margin-bottom: 10px;
}
