.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 30px;
    background-color: #000;
   
}

.nav-menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 0.1rem 2.5rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.nav-links:hover{
    background-color: #FF9901;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}



@media screen and (max-width: 899px){
    .nav-container{
        display: none;
    }
    
    
}